.modal {
    width: 80%;
    max-width: 700px;
    background-color: #1a1a1a;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    color: white;
    border: 1px solid #3f3f3f;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}